<div class="home-container">
  <h2>Bienvenido a nuestra plataforma de arrendamiento de propiedades</h2>
  <div class="buttons-container">
    <!-- Mostrar botón de "Cerrar sesión" si el usuario está autenticado -->
    <div *ngIf="isLoggedIn(); else notLoggedIn">
      <button (click)="irInicio()">Ir a tu inicio</button>
      <button (click)="logout()">Cerrar sesión</button>
    </div>

    <!-- Mostrar opciones de registro e inicio de sesión si el usuario no está autenticado -->
    <ng-template #notLoggedIn>
      <a href="UsuarioArrendatario/singUp" class="button-arrendatario">Registrarse como Arrendatario</a>
      <a href="UsuarioArrendatario/singIn" class="button-arrendatario">Iniciar sesión como Arrendatario</a>
      <a href="UsuarioArrendador/singUp" class="button-arrendador">Registrarse como Arrendador</a>
      <a href="UsuarioArrendador/singIn" class="button-arrendador">Iniciar sesión como Arrendador</a>
    </ng-template>
  </div>
</div>
