<!-- home.component.html -->

<div class="home-container">
    <h2>Bienvenido a nuestra plataforma de arrendamiento de propiedades</h2>
    <div class="buttons-container">
      <a href="UsuarioArrendatario/singUp" class="button-arrendatario">Registrarse como Arrendatario</a>
      <a href="signin-arrendatario" class="button-arrendatario">Iniciar sesión como Arrendatario</a>
      <a href="UsuarioArrendador/singUp" class="button-arrendador">Registrarse como Arrendador</a>
      <a href="signin-arrendador" class="button-arrendador">Iniciar sesión como Arrendador</a>
    </div>
  </div>
  