{{ title }}

<br/>-----<br/>



<h1>Modelos</h1>
<ul>
    <li *ngFor = "let usuarioArrendador of datosModelos">
        {{ usuarioArrendador.nombre }} {{ usuarioArrendador.apellido }}
    </li>
</ul>

<h1>Modelos llamados con servicios</h1>
<ul>
    <li *ngFor = "let usuarioArrendador of datosModelosService">
        {{ usuarioArrendador.nombre }} {{ usuarioArrendador.apellido }}
    </li>
</ul>
<h1>Modelos llamados con servicios externo</h1>
<ul>
    <li *ngFor = "let usuarioArrendador of datosModelosServiceExterno">
        {{ usuarioArrendador.nombre }} {{ usuarioArrendador.apellido }}
    </li>
</ul>

<router-outlet></router-outlet>