{{ title }}

<br/><br/>

<div class="app-container">
  <header>
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Acerca de</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <a routerLink="arrendadorUsuario/data">Ver Arrendadores</a>
<a routerLink="/propiedades-arrendatario">Ver propiedades del arrendatario</a>
<router-outlet></router-outlet>
  </main>

  <footer>
    <p>&copy; 2024 Mi Sitio Web</p>
  </footer>

  
</div>







